@import url( 'https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons');
 .title {
    font-family: 'Droid serif', serif; 
    font-size: 20px; 
    font-style: italic; 
    width: 80%;
 }
 .mainCard{
   width:15%;
   height: 100%;
   color: white;
   background-image: linear-gradient( rgb(63, 46, 141), rgb(59, 34, 150));
   font-family: 'Droid serif', serif; 
   font-size: 20px; 
   font-style: italic; 
   font-style: bold;

 }
 #container {
  
   flex: right;
 }
 #container:after{
   position: absolute;
 
 }
 #container > .mainCard {
   float: right;
 
 }
 #container > .title {
  float: left;
 }
 .owner{
  font-family: 'Droid serif', serif; 
  font-size: 15px; 
 }
 .users{
  font-family: 'Droid serif', serif; 
  font-size: 15px; 
 }
 