<!DOCTYPE html>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<html>

<head>
</head>

<body>
  <div id="container">
    <nb-chat class="title" title="{{this.config.GroupChats[gid].gname}}" size="large">
      <nb-chat-message *ngFor="let msg of messages" [type]="msg.type" [message]="msg.text" [reply]="msg.reply" [sender]="msg.user.name"
        [date]="msg.date" [files]="msg.files" [quote]="msg.quote" [latitude]="msg.latitude" [longitude]="msg.longitude"
        [avatar]="msg.user.avatar">

      </nb-chat-message>


      <nb-chat-form (send)="sendMessage($event)" [dropFiles]="true">
      </nb-chat-form>
    </nb-chat>
    <mat-card class="mainCard">
        Owner:
        &nbsp;
        &nbsp;
      <div class="owner">
         {{this.ownerConfig.Owner[0].uname}}
      </div>
      &nbsp;
        &nbsp;
      <div>
          List of Participants:
      </div>
      &nbsp;
        &nbsp;
      <div class="users" *ngFor="let user of this.usersInChatConfig.Users">
        {{user.uname}}
      </div>
    </mat-card>

  </div> 
</body>

</html>