

#header { 
    color: #ffffff;
     font-family: 'Droid serif', serif; 
     font-size: 36px; 
     font-weight: 400; 
     font-style: italic; 
     line-height: 44px; 
     margin: 0 0 12px; 
     text-align: center; 
     position: relative;
     width: 100%;
    }
.menu{
    background-image: linear-gradient( rgb(230, 223, 231), rgb(235, 232, 236));
}
.items{
background-color: rgb(238, 237, 238);
}
.items:hover{
    background-color: rgb(159, 153, 161);

}
.menu:hover{
    background-image: linear-gradient( rgb(204, 204, 204), rgb(180, 179, 180));
}
#header:after{
    position: absolute;
    height: 200%;
    width: 1px;
    background: #f00;
}
#header > .menuDiv {
    float: right;

}

