#header { 
    color: #ffffff;
     font-family: 'Droid serif', serif; 
     font-size: 36px; 
     font-weight: 400; 
     font-style: italic; 
     line-height: 44px; 
     margin: 0 0 12px; 
     text-align: center; 
     position: relative;
     width: 100%;
    }
.menu{
    background-image: linear-gradient( rgb(222, 212, 224), rgb(208, 200, 211));
}
.items{
background-color: rgb(202, 190, 206);
}
.items:hover{
    background-color: rgb(115, 109, 117);

}
.menu:hover{
    background-image: linear-gradient( rgb(146, 138, 148), rgb(128, 122, 129));
}
#header:after{
    position: absolute;
    height: 200%;
    width: 1px;
    background: #f00;
}
#header > .menuDiv {
    float: right;

}

