<nb-layout>
  <nb-layout-header fixed>
    <div>
      User: {{user}}
    </div>
    <div id="header">
      FFMA - Fast Friends Media App!
      <div class="menuDiv">
        <button mat-button class="menu" [matMenuTriggerFor]="menu">
          <mat-icon>list</mat-icon>
        </button>
      </div>
    </div>

    <mat-menu #menu="matMenu">
      <button mat-menu-item class="items" routerLink="/dashboard" routerLinkActive="active">Dashboard</button>
      <button mat-menu-item class="items" routerLink="/profile" routerLinkActive="active">Profile</button>
      <button mat-menu-item class="items" routerLink="/group-chat" routerLinkActive="active">GroupChats</button>
      <button mat-menu-item class="items" (click)="logout()" routerLink="/log-in" routerLinkActive="active">SignOut</button>

    </mat-menu>

  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>


  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>