<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div id="container">
  <mat-card class="mainCard">

    <h2>Login</h2>
    <div id="card" class="form-group">
      <label for="username">Username </label>
      &nbsp;
      <input type="text" #username class="form-control" />
    </div>
    &nbsp;
    <div id="card" class="form-group">
      <label for="password">Password </label>
      &nbsp;
      <input #password type="password" class="form-control" />

    </div>
    &nbsp;
    &nbsp;
    <div>

    </div>
    &nbsp;
    &nbsp;
    <div class="form-group">
      <div>
        <button mat-button [disabled]="loading" (click)="tryLogin(username, password)" class="btn">Login</button>
        &nbsp;

        <button mat-button routerLink="/register" class="btn">Register</button>
      </div>
    </div>

  </mat-card>
  <mat-card class="pic">
  </mat-card>
</div>