<!-- <div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
         <mat-card-header>
          <mat-card-title>
          <ng-template #noData>No Data Available</ng-template>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          
        </mat-card-content>
      </mat-card> 
    
    </mat-grid-tile>
  </mat-grid-list>
</div> -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-drawer-container class="example-container">
  <mat-drawer class="drawer" mode="side" opened>
    <div>
      <mat-card class="headerCard">
        List of GroupChats
      </mat-card>
    </div>
    <div>
      <mat-card (click)="getGid(chat.gid)" *ngFor="let chat of this.config.GroupChats" routerLink="/group-chat"
        routerLinkActive="active" class="card">

        {{chat.gname}}

      </mat-card>
    </div>
  </mat-drawer>
  <mat-drawer-content class="mainDrawer">
    <mat-card class="mainCard">
      Trending Topics:
      <div class='card1' *ngFor="let hash of this.hashConfig.Stats">
        #{{hash.Hashtag}} &nbsp; &nbsp; 
      </div>
    </mat-card>
    &nbsp;
    <mat-card class="mainCard">
      Dashboard card 2
    </mat-card>
    &nbsp;
    <mat-card class="mainCard">
      dashboard card 3
    </mat-card>

  </mat-drawer-content>
</mat-drawer-container>