@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  height: 100%;
  width: 25%;
  flex: left;
  border-color: black;
}

.example-container {
  width: 100%;
  height: 750px;
  margin: 10px;
  border: 1px solid #555;
}
.dashboard-card-content {
  border-color: black;
  text-align: center;
}
