<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
          <ng-template #noData>No Data Available</ng-template>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div *ngIf ="bool"> 
            <ul>
              <nav *ngFor="let chat of this.config.GroupChats">
                  <a routerLink="/group-chat" routerLinkActive="active">
                    Chat #{{chat.gid}}:
                    {{chat.gname}}
                  </a>
              </nav>
                
            
            </ul> </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
