<!-- <div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
         <mat-card-header>
          <mat-card-title>
          <ng-template #noData>No Data Available</ng-template>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          
        </mat-card-content>
      </mat-card> 
    
    </mat-grid-tile>
  </mat-grid-list>
</div> -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

<mat-drawer-container class="example-container">
  <mat-drawer class="drawer" mode="side" opened>
    <div>
      <mat-card class="headerCard">
        GroupChats <button data-toggle="modal" data-target="#myModal" (click)="showModal()" class="mdc-fab" style="color: black; background-color: whitesmoke; width: 30px; height: 30px;" aria-label="Add">
            <span class="mdc-fab__icon material-icons">add</span>
          </button>

            
          
      
                 <!-- The Modal -->
              <div class="modal fade openModal" id="myModal">
                  <div class="modal-dialog proceeds-modal">
                    <div class="modal-content">
                
                      <!-- Modal Header -->
                      <div class="modal-header ">
                        <h4 class="modal-title">Create GroupChat</h4>
                        <!-- <button type="button" class="close" (click)="hideModal()">&times;</button> -->
                      </div>
                      &nbsp;
                      &nbsp;
                      <!-- Modal body -->
                      <div class="modal-body">
                          <label for="username">Name </label>
                          &nbsp;
                          <input type="text" maxlength="20" #username class="form-control" />
                         
                      </div>
                      &nbsp;
                      &nbsp;
                      <!-- Modal footer -->
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" (click)="sendModal(username)" >Create</button>
                        <button type="button" class="btn btn-danger" (click)="hideModal()">Cancel</button>
                
                        <!-- this button is hidden, used to close from typescript -->
                        <button type="button" id="close-modal" data-dismiss="modal" style="display: none">Cancel</button>
                      </div>
                    </div>
                  </div>
                </div>
      </mat-card>
    </div>
    <div>
      <mat-card (click)="getGid(chat.gid)" *ngFor="let chat of this.config.GroupChats" routerLink="/group-chat"
        routerLinkActive="active" class="card">

        {{chat.gname}}

      </mat-card>
    </div>
  </mat-drawer>
  <mat-drawer-content class="mainDrawer">
    <mat-card class="mainCard">
      Trending Topics and Stats Globally:
      <!-- <div class='card1' *ngFor="let hash of this.hashConfig.Stats">
        {{hash.Hashtag}} &nbsp; &nbsp; 
      </div> -->
      <div class='card1' >
          {{this.hashConfig.Stats[0].Hashtag}} &nbsp; &nbsp;
          {{this.hashConfig.Stats[1].Hashtag}} &nbsp; &nbsp;
          {{this.hashConfig.Stats[2].Hashtag}} &nbsp; &nbsp; 
          
        </div>
    </mat-card>
    &nbsp;
    <mat-card class="cardChart">
        <google-chart [title]="'Trends'" style="width: 50%; height:100%;" [type]="'BarChart'" [columnNames]="['Hashtag','Usage']" [data]="hashStats"></google-chart>
        <google-chart [title]="'Posts'" style="width: 50%; height:100%;" [type]="'BarChart'" [columnNames]="['Messages','Posts']" [data]="messageStats"></google-chart>


    </mat-card>
    <mat-card class="cardChart">
        <google-chart [title]="'LikesPerDay'" style="width: 50%; height:100%;" [type]="'BarChart'" [columnNames]="['Date','Likes']" [data]="likeStats"></google-chart>
        <google-chart [title]="'DislikesPerDay'" style="width: 50%; height:100%;" [type]="'BarChart'" [columnNames]="['Date','Dislikes']" [data]="dislikeStats"></google-chart>

    </mat-card>
    <mat-card class="cardChart">
        <google-chart [title]="'RepliesPerDay'" style="width: 50%; height:100%;" [type]="'BarChart'" [columnNames]="['Date','Replies']" [data]="replyStats"></google-chart>

    </mat-card>

  </mat-drawer-content>
</mat-drawer-container>