.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  color: floralwhite;
  border-color: black;
  height: 100%;
  width: 25%;
  flex: left;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  border-color: black;
  text-align: center;
  color: white;
}
