@import url( 'https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons');

@import url('https://fonts.googleapis.com/css?Family=Roboto:300,400,500,700');

.mainCard{
  width:48%;
  height: 100%;
  color: black;
  text-align: left;
  background-color: rgb(213, 226, 228);
  font-family: 'Droid serif', serif; 
  
}
#container {
  width: 100%;
  height: 100%;
  flex: right;
}
#container:after{
  position: absolute;

}
#container > .mainCard {
  float: left;

}
#card {
  color: black;
  }
  #card:after{
    position: absolute;
  
  }
  #card > .form-control {
    float: right;
  
  }
  .form-control{
      color: black;
  }
  .pic {
    width:48%;
    height: 100%;
    background-color: rgb(213, 226, 228);

  }
  #container > .pic {
    float: right;
  
  }
  .btn {
    color: black;

    background-image: linear-gradient( rgb(222, 212, 224), rgb(208, 200, 211));
}
  
.btn:hover{
  background-image: linear-gradient( rgb(146, 138, 148), rgb(128, 122, 129));
}

